<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="authorization">AUTHORIZATION</a></li>
        <li><a href="registration">REGISTRATION</a></li>
        <li><a href="main">MAIN</a></li>
    </ul>
</nav>
</body>
</html>